body{
    background-color: #7FFFD4;
    text-align: center;
}

h1{
    font-size: 30px;
    color: black;
}

p{
    color: black;
    font-size: 25px;
}

#imagemalpha{
width: 100%;
height: 20%;
border: 2px;
}

.itens{
    font-style: italic;
}

.beneficios{
    background: #7FFFD4;
    text-align: left;
}